definitions:
  models.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  models.RegisterRequest:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
host: "localhost:8080"
info:
  contact: {}
  description: API Server
  title: auth server 
  version: "1"
paths:
  /login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Модель которую принимает метод (Param)
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Login successful
          schema:
            type: string
        "400":
          description: Invalid request
          schema:
            type: string
        "500":
          description: Could not generate token
          schema:
            type: string
      summary: Login
      tags:
      - auths
  /register:
    post:
      consumes:
      - application/json
      parameters:
      - description: Модель которую принимает метод (Param)
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Registration successful
          schema:
            type: string
        "400":
          description: Invalid request
          schema:
            type: string
      summary: Регистрация
      tags:
      - auths
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
