# Все файлы — ревью от тебя
*   @gritsulyak

# Критичные пути — обязательный ревьюер
/.github/workflows/                             @gritsulyak
/go_mic/004_github_gitlab_demo/services/api/    @gritsulyak
